@import "../../../styles/common.scss";

.discount {
  display: flex;
  flex-wrap: wrap;
  padding: rem(16) 0 rem(24);
  border-top: 1px solid gray(400);
}

.dropdown-container {
  position: relative;
  border: 2px solid coral(500);
  width: 100%;
  height: rem(60);
  border-radius: rem(8);
  margin-bottom: 10px;
  background-color: coral(100);

  .selected-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 100%;
    width: 100%;

    > * {
      margin: 0; // Removes margin from direct children
      padding: 0; // Removes padding from direct children
    }
  }

  .arrow {
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }

  .dropdown-list {
    position: absolute;
    width: 100%;
    border: 1px solid #fe395b;
    border-top: none;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    background-color: #fff;

    .dropdown-item {
      height: rem(60);
      padding: 10px;
      border-bottom: 1px solid #fee;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        background-color: #fee;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
